body {
  height: 100vh;
  background-color: rgba(0, 132, 255, 0.26);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: transparent;
}

svg {
  display: block;
  pointer-events: none;
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  svg {
    width: 70px;
    height: 70px;
  }
}

:root {
  --first-accent-color: rgb(43, 144, 226);
  --second-accent-color: rgb(130, 118, 235);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .header__container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__title {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header__title {
    font-size: 32px;
  }
}

.header__title span {
  display: block;
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: var(--first-accent-color);
}

@media screen and (min-width: 768px) {
  .header__title span {
    font-size: 64px;
  }
}

.logo {
  font-family: 'Permanent Marker', sans-serif;
  color: var(--first-accent-color);
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.logo:hover, .logo:focus {
  color: var(--second-accent-color);
}

.game {
  height: 100vh;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.score {
  font-weight: 500;
  margin-bottom: 20px;
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .score {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.card-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (60px)[4];
      grid-template-columns: repeat(4, 60px);
  -ms-grid-rows: (60px)[5];
      grid-template-rows: repeat(5, 60px);
  grid-gap: 20px;
}

@media screen and (min-width: 768px) {
  .card-list {
    -ms-grid-columns: (100px)[5];
        grid-template-columns: repeat(5, 100px);
    -ms-grid-rows: (100px)[4];
        grid-template-rows: repeat(4, 100px);
    grid-gap: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .card-list {
    -ms-grid-columns: (200px)[5];
        grid-template-columns: repeat(5, 200px);
    -ms-grid-rows: (200px)[4];
        grid-template-rows: repeat(4, 200px);
    grid-gap: 20px;
  }
}

.card {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card__back svg {
  fill: white;
}

.card__back,
.card__front {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #0110e4;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: 1s;
  transition: 1s;
}

.is-hidden {
  display: none;
}

.card__front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__back.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__front.flipped {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.is-inactive {
  pointer-events: none;
}
/*# sourceMappingURL=main.css.map */